@model TiendaElectronica.lineapresupuesto

@{
    ViewBag.Title = "Delete";
}

<h2>Elimnar</h2>

<h3>¿Desea eliminar este componente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Producto: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.Nombre)
        </dd>
        <dt>
            Precio: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnit)
        </dd>

        <dt>
            Cantidad: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index",new { idCliente = ViewBag.idCliente, idPresupuesto = Model.idPresupuesto })
        </div>
    }
</div>
