@model IEnumerable<TiendaElectronica.lineapresupuesto>

@{
    ViewBag.Title = "Index";
}

<h2>Componentes</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create", new { idCliente = ViewBag.idCliente, idPresupuesto = ViewBag.idPresupuesto })
</p>
<table class="table">
    <tr>
        <th>
            Producto
        </th>
        <th>
            Precio c/u
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Subtotal
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.idPresupuesto == ViewBag.idPresupuesto)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.producto.Nombre)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnit)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subtotal)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idLineaPresupuesto, idCliente = ViewBag.idCliente })
                </td>
            </tr>
        }
    }

</table>

<div class="form-group">
    <div class="col-md-offset-0 col-md-10">
        <a class="btn btn-default" onclick="location.href='@Url.Action("Edit", "presupuestoes", new { id = ViewBag.idPresupuesto, idCliente = ViewBag.idCliente })'">
            Volver
        </a>
        </div>
    </div>
