@model IEnumerable<TiendaElectronica.lineapresupuesto>

@{
    ViewBag.Title = "Lista";
}

<h3>Linea de Presupuesto</h3>

<table class="table">
    <tr>
        <th>
            Presupuesto Numero
        </th>
        <th>
            Producto 
        </th>
        <th>
            Subtotal
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.idPresupuesto == ViewBag.idPresupuesto)
    {
        var rsubtotal = item.Cantidad * item.PrecioUnit;
        var subtotal= "$" + rsubtotal.ToString();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.presupuesto.PresupuestoNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.Nombre)
        </td>
        <td>
            @Html.DisplayName(subtotal)
        </td>        
        
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.idLineaPresupuesto }) 
        </td>
    </tr>
    }
}

</table>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">        
        <a class="btn btn-default" onclick="location.href='@Url.Action("Details", "presupuestoes", new { id = ViewBag.idPresupuesto })'">
            Volver
        </a>
    </div>
</div> 
