@model TiendaElectronica.presupuesto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de elimnar este presupuesto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero de Presupuesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoNro)
        </dd>

        <dt>
            Fecha realizacion:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealizado)
        </dd>

        <dt>
            Fecha Caducidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            Cliente: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.RazonSocial)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
