@model TiendaElectronica.presupuesto

@{
    ViewBag.Title = "Details";
}



<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero Presupuesto: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoNro)
        </dd>

        <dt>
            Fecha realizado: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealizado)
        </dd>

        <dt>
            Fecha caducidad: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.RazonSocial)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" onclick="location.href='@Url.Action("lista", "lineapresupuestoes", new { id = ViewBag.idPresupuesto })'">
            Detalles
        </a>
        <a class="btn btn-default" onclick="location.href='@Url.Action("Historial","ventas", new { idCliente = ViewBag.idCliente})'">
            Volver
        </a>
    </div>
</div> 
