@model IEnumerable<TiendaElectronica.presupuesto>

@{
    ViewBag.Title = "Lista de Presupuestos";
}

<h2>Presupuestos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Presupuesto Numero
        </th>
        <th>
            Fecha realizado
        </th>
        <th>
            Fecha caducidad
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.IdCliente == ViewBag.idCliente)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PresupuestoNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRealizado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            No implementado
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idPresupuesto }) |
            @Html.ActionLink("Details", "Details", new { id = item.idPresupuesto }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idPresupuesto })
        </td>
    </tr>
    }

}

</table>
