@model IEnumerable<TiendaElectronica.presupuesto>

@{
    ViewBag.Title = "Index";
}

<h3>Presupuesto Valido</h3>

<p>
    @Html.ActionLink("Create New", "Create", new { idCliente = ViewBag.idCliente })
</p>
<table class="table">
    <tr>
        <th>
            Numero Presupuesto
        </th>
        <th>
            Fecha realizado
        </th>
        <th>
            Fecha caducidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.FechaFin >= DateTime.Now)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PresupuestoNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRealizado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idPresupuesto }) |
            @Html.ActionLink("Details", "Details", new { id = item.idPresupuesto }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idPresupuesto })
        </td>
    </tr>
    }
}

</table>

<h3>Presupuesto Vencido</h3>
<table class="table">
    <tr>
        <th>
            Numero Presupuesto
        </th>
        <th>
            Fecha realizado
        </th>
        <th>
            Fecha caducidad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.FechaFin < DateTime.Now)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PresupuestoNro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRealizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailsCompra", new { id = item.idPresupuesto }) 
                </td>
            </tr>
        }
    }

</table>